.grid-layout {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-column-gap: 5px;
    grid-template-columns: 300px 4fr  1fr;
    grid-template-rows:    80px  auto 20%;
    grid-template-areas:
        "head head head"
        "nav  main main"
        "nav  foot foot"
}
.grid-layout.collapse-footer {
    grid-template-areas:
        "head head head"
        "nav  main main"
        "nav  main main"
}
header {
    background: #fff;
    grid-area: head;
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-areas: "breadcrumb auth"
}
#header {}
#auth {
    padding: 5px 5px 0 0;
    text-align: right;
}
.autoquery-breadcrumbs {
    padding-left: 0;
    height: 80px;
}

nav {
    background: #fff;
    grid-area: nav;
    padding: 0 2px 0 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-areas:
        "filter"
        "sidebar"
}
#nav-filter {
    grid-area: filter;
    margin: 2px 0 0 0;
}
#sidebar {
    grid-area: sidebar;
    overflow-x: hidden;
    overflow-y: scroll;
}

main {
    background: #fff;
    grid-area: main;
    padding: 2px;
    grid-row-gap: 5px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-areas:
        "query"
        "results"
}
.query-form {
    grid-area: query;
}
.results-container {
    grid-area: results;
    overflow-y: scroll;
}

footer {
    grid-column: foot;
    overflow-x: hidden;
    overflow-y: scroll;
}
#footer {
    border: 1px solid #eee;
}
